* {
    margin: 0;
}

#content-container {
    display: flex;
    flex-direction: column;
}

#title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

#queso-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

#grid-container {
    display: flex;
    justify-content: center;
}

#grid {
    width: 500px;
    height: 500px;
    display: grid;
}

#grid div {
    border: 1px solid silver;
}

.gray-bg {
    background-color: silver;
}